.containTGrid {
  display: flex;
  justify-content: center;
  .gridTCards{
    width: 70%;
    background-color: rgb(236, 236, 236);
    justify-content: center;
    padding-bottom: 50px;
    .nextP {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px 10px 15px;
    }
      .pokeDisp {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .pokeImgTarget{
        height: 200px;
        width: auto;
      }

  }
}
