.header {
  height: 70vh;
  width: 100%;
  background-image: url("../Body/img/Head1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
////THEME////
.btnTheme {
  position: absolute;
  border-style: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(200,200,200,0.5);
}
.theme2 {
   image-rendering: pixelated;
   -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
  .containGrid2{
    background-image: url("http://orig05.deviantart.net/9b6e/f/2012/147/0/e/ruins_of_alph__pokemon_red_and_blue__by_creepypasta81691-d51c6hs.png");
  }
  .header{
    background-image: url("http://img4.hostingpics.net/pics/340986PokeWallOld2.jpg");
    background-position: bottom;
    background-position: contain;
  }
}

@media screen and (max-width: 920px) {
  .theme2 {
  .header {
    background-image: url("https://blogs.scientificamerican.com/but-not-simpler/files/2013/10/185.png");
  }
}
}
